html, body {
    width: 100%;
    height: 100%;
    background: rgb(234, 242, 245);
    margin: 0px;
}

body {
    padding: 10px;
}

* {
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background: rgb(194, 211, 218);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.item {
    border: 1px solid black;
    margin: 4px;
    background: rgb(140, 168, 180);   
    padding: 4px;
    font-size: 24px; 
    width: 200px;
}


.item-3 {
    background: yellow;
    flex: 1 2 auto;
}

.item-5 {
    background: lime;
}